$theme-color: #1a79ff;


$theme-scheme: () !default;
$theme-scheme: map_merge((
    main: $theme-color,
    muted: #cce3ff,
), $theme-scheme);


@mixin define-header-variables($header-variant-name) {
    // ----------------------------------------
    // -- classic-variant-two
    // ----------------------------------------
    @if ($header-variant-name == classic-two) {
        // topbar
        $topbar-classic-scheme: (
            main: adjust-color($theme-color, $lightness: -10, $saturation: -10),
        ) !global !default;

        // logo
        $logo-scheme: (
            primary:   rgba(#fff, .9),
            secondary: adjust-color($theme-color, $lightness: -25, $saturation: -25),
        ) !global !default;
    }

    // ----------------------------------------
    // -- classic-variant-four
    // ----------------------------------------
    @if ($header-variant-name == classic-four) {
        // logo
        $logo-scheme: (
            primary:   rgba(#fff, .9),
            secondary: adjust-color($theme-color, $lightness: -25, $saturation: -25),
        ) !global !default;
    }

    // ----------------------------------------
    // -- mobile-variant-two
    // ----------------------------------------
    @if ($header-variant-name == mobile-two) {
        // logo
        $logo-scheme: (
            primary:   rgba(#fff, .9),
            secondary: adjust-color($theme-color, $lightness: -25, $saturation: -25),
        ) !global !default;
    }
}
